.aboutus-section {
    padding: 90px 0;
}

.img {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10pt;
    border: 1px solid #ddd;
}

.img:hover {
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.aboutus-text {
    color: black;
    font-size: 14pt;
    line-height: 22px;
    margin: 0 0 35px;
    text-align: justify;
}

.icon {
    color: #f4b841;
    padding: 0px;
    font-size: 40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

.facebook {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.facebook i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.facebook:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.facebook::before {
  content: "";
  position: absolute;
  width: 120%
  height:120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.facebook:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: 10%;
}

@keyframes aaa {
  0% {
    top: 90%;
    left: -110%;
  } 50% {
    top: 90%;
    left: -110%;
  } 100% {
    top: 90%;
    left: -110%;
  }
}

.num {
  font-size: 10pt;
  color:black;
  font-weight:600;
}
